div#title {
    display: flex;
    object-fit: cover;
    overflow: hidden;
    justify-content: center;
}

div#buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

button#create {
    border: black;
    color: black;
    padding: 10px;
    font-size: 36px;
    font-family: 'Pixel Operator';
    width: 250px;
}

button#join {
    border:black;
    color: black;
    padding: 10px;
    font-size: 36px;
    font-family: 'Pixel Operator';
    width: 250px;
}

div#forms {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

input {
    padding: 10px;
    font-family: 'Pixel Operator';
    font-size: 24px;
}